body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.read-only-square {
  background: #fff;
  border: 0px solid #fff;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  width: 34px;
}


.square {
  background: #e8ebef;
  border: 0px solid #000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
